<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>글보기</title>
    </head>
    <body>
        <fieldset style="width: 40%;">
            <form method="post" action="/board/update/<%= data.id %>" enctype="application/x-www-form-urlencoded">
                <table border="0" style="width: 100%; box-sizing: border-box;">
                    <tr>
                        <td align="right">내용</td>
                        <td><textarea name="content" style="width: 100%; box-sizing: border-box; height: 150px;"><%= data.content %></textarea></td>
                        <!-- <td><input type="text" name="content" style="width: 100%; box-sizing: border-box; height: 150px;" value="<%= data.content %>"></input></td> -->
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <input type="button" value="돌아가기" onclick="location.href='http://localhost:3000/board'">
                            <input type="submit" value="글 수정">
                            <input type="button" value="글 삭제" onclick="location.href='http://localhost:3000/board/delete/<%= data.id %>'">
                        </td>
                    </tr>
                </table>
            </form>
        </fieldset>
    </body>
</html>