<!-- 예제1 -->
<!-- <!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>ejs 모듈 테스트</title>
    </head>
    <body>
        <%# let name = 'RonnieJ'; %>
        <h1><%#= name %></h1>
        <p><%#= 100*200 %></p>
        <hr>
        <%# for (let ix = 0; ix < 10; ++ix) { %>
            <h2><%#= ix %>의 제곱은 <%#= ix * ix %></h2>
        <%# } %>        
    </body>
</html> -->

<!-- 예제2 -->
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        <title>ejs 모듈 테스트2</title>
    </head>
    <body>
        <!-- <%# let name = 'RonnieJ'; %> --> <!--nodejs에서 값을 설정해줄꺼임-->
        <h1><%= name %></h1>
        <p><%= content %></p>
        <hr>
        <% for (let ix = 0; ix < 10; ++ix) { %>
            <h2><%= ix %>의 제곱은 <%= ix * ix %></h2>
        <% } %>
    </body>
</html>